/* ----------------------- About Page CSS --------------------- */
  
  /* -------- container around everything in about -------- */
  #aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* margin: 100px; */
    /* box-shadow: #eecccc 0px 0px 15px; */
    /* padding-top: 170px; */
    background-image: url('../assets/images/pinkLotus1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  /* Small screens - Samsung s20 ultra and below */
@media screen and (max-width: 414px) and (max-height: 915px) and (-webkit-device-pixel-ratio: 2) {
    #aboutContainer {
      margin: 0px;
      padding-top: 10px;
      box-shadow: none;
    }
  }

  /* ----------------------------------------- */


/* About Text */
  #aboutText {
    font-size: 1.5rem;
    margin: 20px;
    padding: 10%;
    background-color: rgb(248, 246, 246, 0.5);
  }


  /* each section of about */
.about {
    text-align: center;
    margin: 20px;
  }

  /* Family Picture */
  
  #famImg {
    width: 90%;
  }
