#wrapNoMap {
  background-image: url("../assets/images/alexander-grey-NkQD-RHhbvY-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#contactHeading {
  margin: 40px;
}

.call {
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
  font-size: 25px;
}

.contact-address {
  display: flex;
  justify-content: center;
  align-items: center;
}

#address {
  margin: 30px;
  float: left;
  margin-bottom: 50px;
  font-size: 25px;
}

#map {
  width: 100%;
  height: 450px;
}
