/* ---------------- Nav / Footer CSS ------------------ */

/* ----------------------------------------------- */

/* ------------  Nav And Footer ----------- */

/* nav and footer bars */
.nfBar {
    /* box-shadow: #000000 0px 0px 10px; */
    box-shadow: #eecccc 0px 0px 15px;
    background-color: var(--color-three);
    background-image: linear-gradient(to right, #fff, var(--color-two));
    transition: background-color 0.5s ease;
    /* position:sticky; */
  }

 
  
  /* each nav link on regular full screens */
  .navLinkChild {
    margin-left: 10px;
    font-size: 1.3rem;
    /* stop text from wrapping when font size is changed */
    white-space: nowrap;
    color: rgb(248, 246, 246);
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    border-radius: 3px;
    align-items: center;
    margin: 15px;
  }
  
  .navLinkChild:hover {
    background-image: linear-gradient(to right, #fff, var(--color-two));
    transition: background-color 0.5s ease;
    backdrop-filter: blur(10px);
    text-shadow: 1px #000000;;
  }

 
/* 
.logoImg {
    display: block;
    height: 250px;
    width: 250px;
    cursor: pointer;
  } */

  /* add shadow on logo when hovering so users know they can click it */
.logoImg:hover {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  }

  @media screen and (max-width: 1368px) {
    .logoImg {
      display: block;
      width: 100%;
    }
  }
  
  

/* ---------------------------------------------- */

/* ---------------- Only Nav ------------ */

/* sub text under logo */
#tagline {
    text-align: center;
    display: flex;
    /* position: relative; */
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    margin-top: 0px;
  }


/* Iphone 11 navbar logo - align with hamburger menu*/
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    #logoImgContainer {
      display: inline-block;
      width: 80%;
    }
  }

/* ------------------------CSS for using a text version of logo rather than svg ----------------------------*/

  /* @media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    #title {
      font-size: 30px;
      margin-top: -10;
      margin-bottom: 0;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: lighter;
    }
  } */

   /* @media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .logoImg {
      width:50%;
      display: flex;
      align-items: center;
      margin-left: 45%;
      margin-bottom: -15px;
    }
  } */

  /* @media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    #tagline {
      font-size: 15px;
      margin-top: -5px;
    }
  } */

  /* @media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .logoImgContainer {
      margin: 25px;
      position: relative;
    }
  } */

  /* ------------------------------------- */

  /* iphone 11 hamburger menu - align menu with logo  */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    #hamburger {
      display: inline-block;
      width: 15%;
    }
  }

/* ---------------- Only Footer ------------ */

/* each icon button */
.fBtn {
    margin: 10px;
  }

  .footerImg {
    text-decoration: none;
    color: black;
    height: 30vh;
    margin-top: 20px;
    margin-bottom: -20px;
    
  }

  /* Iphone 11 Icon Button Container */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    #fBtn{
      position: absolute;
      margin: 20%;
      padding-top: 30%;
      order:3;
    }
  }

  /* Iphone 11 */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    #fBtn, .fBtn {
      display: inline-block;
    
    }
}

/* Iphone 11 Logo Image */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    #logoImg{
      order: 1;
    }
  }

/* Iphone 11 copyright text */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    #fText {
      margin: 20px;
      padding:10px;
      /* flip text and icons */
      /* order:2; */
    }
  }


