/* ---------------- Nav / Footer CSS ------------------ */

/* ----------------------------------------------- */

/* ------------  Nav And Footer ----------- */

/* nav and footer bars */
.nfBar {
  /* box-shadow: #000000 0px 0px 10px; */
  box-shadow: #eecccc 0px 0px 15px;
  background-color: var(--color-three);
  background-image: linear-gradient(to right, #fff, var(--color-two));
  transition: background-color 0.5s ease;
  z-index: 2;
  position: relative;
  width: 100%; 
}

/* each nav link on regular full screens */
.navLinkChild {
  margin-left: 10px;
  font-size: 1.3rem;
  /* stop text from wrapping when font size is changed */
  white-space: nowrap;
  color: rgb(248, 246, 246);
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  border-radius: 5px;
  align-items: center;
  margin: 15px;
  font-weight: 500;
  /* display: inline-block;  */
}

.navLinkChild:hover {
  background-image: linear-gradient(to right, #fff, var(--color-two));
  transition: background-color 0.5s ease;
  backdrop-filter: blur(8px);
  text-shadow: none;
}




/* add shadow on logo when hovering so users know they can click it */
.logoImg:hover {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  cursor: pointer;
}

/* @media screen and (max-width: 1368px) { */
  .logoImg {
    max-width: 250px;
    display: block;
    width: 100%;
    /* margin-left: 10%; */
  }
/* } */

/* ---------------------------------------------- */

/* ---------------- Only Nav ------------ */

/* Small Screen navbar logo - align with hamburger menu*/
@media screen and (max-width:540px) and (-webkit-device-pixel-ratio: 2) {
  #booknowNav {
    margin-bottom: 40px;
  }
}


/* Small Screen navbar logo - align with hamburger menu*/
@media screen and (max-width:540px) and (-webkit-device-pixel-ratio: 2) {
  #logoImgContainer {
    display: inline-block;
    width: 80%;
  }
}



/* ------------------------------------- */

/* iphone 11 hamburger menu - align menu with logo  */
@media screen and (max-width:540px) and (-webkit-device-pixel-ratio: 2) {
  #hamburger {
    display: inline-block;
    width: 15%;
  }
}

/* ---------------- Only Footer ------------ */




.footer-content {
  display: flex;
flex-direction: column;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
/* icon buttons container */
#fBtn {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/* each icon button */
.fBtn {
  /* so they arent touching each other */
  margin: 10px;
  height: min-content;
}

.each {
  margin-right: 2%;
  margin-left: 2%;
}

@media (min-width: 768px) { /* Adjust the breakpoint based on your design requirements */
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
  }
  /* icon buttons container */
#fBtn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
}

/* .each {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
} */

/* .each {
  margin: 1%;
  flex-flow:column wrap;
} */

/* @media screen and (max-width: 550px) {
  .each {
    display: flex;
    flex-flow: column wrap;
  }
} */

/* @media screen and (device-width: 412px) and (device-height: 914px){
  .footer-content {
    height: 30vh;
  }
}

@media screen and (device-width: 412px) and (device-height: 915px){
  .footer-content {
    height: 20vh;
  }
} */

/* @media screen and (device-width: 412px) and (device-height: 915px) {
  .footer-content {
    height: 18vh;
  }
  
} */

/* Small Screen Icon Button Container */
@media screen and (max-width: 540px) {
  #fBtn {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  .footer-content {
    /* flex-direction: column; */
    align-items: center;
  }
}



/* Small Screen copyright text */
@media screen and (max-width:540px) and (-webkit-device-pixel-ratio: 2) {
  #fText {
    margin: 20px;
    padding: 10px;
    text-align: center;
  }
}
