/* Services Container */
#services-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #services {
    background-image: url('../assets/images/hands.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: auto; /* Change this to auto */
    min-height: 500px;
    margin: 0;
    padding: 0;
  }
  
  #services h1 {
    color: white;
    text-align: center;
    margin: 20%;
    font-size: 35px;
  }
  
  #serviceWrap {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 30px;
  }
  
  .text {
    text-align: center;
    margin: 20%;
    color: white;
    font-weight: 600;
    font-size: 30px;
  }
  
  #sBtn {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 15px;
    margin: auto;
    background-color: var(--color-two);
    background-image: linear-gradient(to left, #fff, var(--color-three));
    transition: background-color 0.5s ease;
    border: none;
  }

  @media screen and (min-width: 540px){
    #sBtn {
        margin-bottom: 10%;
    }
  }
  
  #sBtn:hover {
    background-color: var(--color-three);
    background-image: linear-gradient(to right, #fff, var(--color-two));
    transition: background-color 0.5s ease;
    padding: 17px;
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 480px) {
    #services h1 {
      font-size: 28px;
      margin: 10%;
    }
  
    .text {
      font-size: 18px;
      margin: 10%;
    }
  }
  
  /* Media query for larger screens */
  @media screen and (min-width: 1024px) {
    #services {
      height: 100vh;
    }
  }
  