.logoImg {
  display: block;
  /* color: #000; */
  height: 45%;
  width: 45%;
}


  @media screen and (max-width: 768px) {
    .logoImg{
    display: block;
    /* keep logo image and hamburger menu aligned */
    position: absolute;
    /* top: 0;
    right: 0; */
    /* transform: translate(-100%, 75%); */
    /* font-size: 1.8rem; */
    cursor: pointer;
  }
}

.navlink {
  justify-content: space-between;
  margin: 15px;
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .navlink {
    display: none;
  top: 0;
  right: 0;
  /* transform: translate(-100%, 75%); */
  font-size: 1.8rem;
  cursor: pointer;
}
}
