/* Logo Image */
.logoImg {
  display: block;
  /* color: #000; */
  height: 250px;
  width: 250px;
  cursor: pointer;
}

/* add shadow on logo when hovering so users know they can click it */
.logoImg:hover {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

@media screen and (max-width: 1368px) {
  .logoImg {
    display: block;
    width: 100%;
  }
}


  @media screen and (max-width: 768px) {
    .logoImg{
    display: block;
    /* keep logo image and hamburger menu aligned */
    /* position: fixed; */
    /* top: -15px;
    left: -15px; */
    /* transform: translate(-100%, 75%); */
    /* font-size: 1.8rem; */
  
    /* width: 150px; */
  }
}

/* -----------------------Nav Bar / Footer --------------------- */

/* entire nav bar */
.navBar {
  /* box-shadow: #000000 0px 0px 10px; */
  box-shadow: #eecccc 0px 0px 15px;
  background-color: rgb(241, 226, 228, 0.4);
  /* position:sticky; */
}

/* each nav link on regular full screens */
.navLinkChild {
  margin-left: 10px;
  font-size: 1.3rem;
  /* stop text from wrapping when font size is changed */
  white-space: nowrap;
  color: rgb(248, 246, 246);
  text-shadow: 2px 2px 4px #000000;
}

/* each nav link on small screens */
 @media screen and (max-width: 915px) {
  .navLinkChild {
  cursor: pointer;
  display: flex;
 justify-content:center;
}
}  

/* Iphone 11 */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  #fText {
    margin: 10px;
    padding:10px;
    /* flip text and icons */
    order:2;
  }
}

/* Iphone 11 */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  #fBtn{
    position: absolute;
    margin: 20%;
    padding-top: 30%;
  }
}

/* Iphone 11 */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  #fBtn .fBtn {
    display: inline-block;
    margin: 0 5px;
  }
}

/* -----------------------About --------------------- */

/* container around everything in about */
#aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 100px;
  box-shadow: #eecccc 0px 0px 15px;
  padding-top: 170px;
  /* padding-bottom: 170px; */
}

/* Iphone 11 */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  #aboutContainer {
    margin: 0px;
    padding-top: 0px;
    box-shadow: none;
  }
}
/* this isn't doing anything --- needs fixed */
@media screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .aboutText {
    font-size: 10px;
  }
}


/* each section of about */
.about {
  text-align: center;
  margin: 20px;
}

#famImg {
  width: 80%;
}

#aboutText {
  font-size: 1.5rem;
  margin: 20px;
  padding: 10%;
}


