.logoImg {
  display: block;
  /* color: #000; */
  height: 45%;
  width: 45%;
}


  @media screen and (max-width: 768px) {
    .logoImg{
    display: block;
    /* keep logo image and hamburger menu aligned */
    position: absolute;
    /* top: 0;
    right: 0; */
    /* transform: translate(-100%, 75%); */
    /* font-size: 1.8rem; */
    cursor: pointer;
  }
}


  @media screen and (max-width: 915px) {
    .navLink {
 /* display: flex;
 justify-content: flex-end; */
}
}

.navLinkChild {
  display: flex;
  justify-content: space-between;
}

 @media screen and (max-width: 915px) {
  .navLinkChild {
  cursor: pointer;
  display: flex;
 justify-content:center;
}
}  
